{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<body>
    <div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Please enter the username you want to scan</h3>
                </div>
                {% load crispy_forms_tags %}  
                <form id="quickForm" method="post">
                  <div class="card-body">
                    <div class="form-group">
                        
                        {% csrf_token %}
                      <label for="name">Find Social Media</label>
                      <input type="name" name="username" class="form-control" id="name" placeholder="Enter Username"> 
                    </div>
                    
                  </div>
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              </div>

            <div class="col-md-6">
  
            </div>
          </div>
        </div>
      </section>
    </div>
</body>

{% endblock content %}